body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/10_bodySyle/desert-day.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "ambystomaMexicanum", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 5em;
  color: hwb(0 25% 75% / 0.99);
  text-align: center;
  text-shadow: 7px 6px 9px #0000005e;
}

.d-none {
  display: none;
}

canvas {
  width: 720px;
  height: 480px;
  
}

.startPage {
  width: 720px;
  height: 480px;
  background: url(../img/9_intro_outro_screens/start/startscreen_1.png)
    no-repeat 0 0 / 100% 100%;
}

.victoryPage {
  width: 100vw;
  height: 100vh;
  background: url(../img/9_intro_outro_screens/win/win_2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
}

.lostPage {
  width: 100vw;
  height: 100vh;
  background: url(../img/9_intro_outro_screens/game_over/game_over.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
}

.startButton {
  font-size: 3em;
  padding-top: 60px;
  color: #ffd70b;
  text-shadow: 5px 2px 2px #9f3b18;
  display: flex;
  justify-content: center;
}

.restartButton{
  font-size: 3em;
  padding-top: 70px;
  color: #ffd70b;
  text-shadow: 5px 2px 2px #9f3b18;
}

.finishGame {
  font-size: 3em;
  padding-top: 70px;
  color: #ffd70b;
  text-shadow: 5px 2px 2px #9f3b18;
}
.helpBox {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.key {
  font-size: 1.5em;
  color: #3f3f3f;
  text-shadow: 2px 4px 2px #9f3b18a8;
}

.keyDescription {
  font-size: 1.5em;
  color: #ffd70b;
  text-shadow: 2px 4px 2px #9f3b18;
}

.overlayObject {
  position: relative;
  left: 620px;
  top: 54px;
  display: flex;
  gap: 16px;
  width: 76px;
}

.overlayObjectIcon {
  height: 30px;
  width: 30px;
}

.overlayObjectIcon:hover {
  cursor: pointer;
}

.keyContener {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 12px 0 12px;
}

.Mobile-Touch-Button {
  display: none;
  padding: 0 32px 0 32px;
  justify-content: space-between;
}

.Mobile-Touch-Button-Move {
  height: 40px;
}

.Mobile-Touch-Button-Move:hover {
  cursor: pointer;
}

.Mobile-Touch-Button-space {
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  padding: 4px 6px 4px 6px;
}

.Mobile-Touch-Button-space:hover {
  cursor: pointer;
}

.turnYourPhone {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

@font-face {
  font-family: "ambystomaMexicanum";
  src: url("../fonts/ambystomaMexicanum-VR7V.ttf") format("truetype");
}

/* Smartphones ---------*/
@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

/* Smartphones ---------*/
@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
}

@media (max-height: 810px) {
  h1 {
    display: none;
  }
}

@media (max-width: 720px) {
  .startPage, .lostPage, canvas {
    width: 576px;
    height: 384px;
  }
  .overlayObject {
    left: 480px;
  }
}

@media (max-height: 610px) {
  .helpBox {
    display: none;
  }

  .Mobile-Touch-Button {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: 580px) or (max-height: 580px) {
  h1 {
    font-size: 3em;
  }
  .startPage, .lostPage, canvas {
    width: 432px;
    height: 288px;
  }
  .overlayObject {
    left: 334px;
  }
  .keyDescription {
    font-size: 1.2em;
  }
  .key {
    font-size: 1.2em;
  }
}

@media (max-width: 500px) {
  .turnYourPhone {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .overlayObject {
    left: 200px;
  }
  .startPage, .lostPage, canvas {
    width: 288px;
    height: 192px;
  }
  .keyDescription {
    font-size: 1em;
  }
  .key {
    font-size: 1em;
  }
  .keyContener {
    margin: 0 4px 0 4px;
  }
}

@media (max-height: 400px) {
  .Mobile-Touch-Button {
    height: 46px;
  }
}